@page "/login"
@inject IDialogService DialogService
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
<!------ Include the above in your HEAD tag ---------->


<MudGrid Class="d-flex" Style="justify-content:center!important;">
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                <MudTextField T="string" Label="Username" Required="true" RequiredError="User name is required!" />
                <MudTextField T="string" Label="Email" Required="true" RequiredError="Email is required!" />
                <MudTextField T="string" Label="Password" HelperText="Choose a strong password" @ref="pwField1"
                              InputType="InputType.Password"
                              RequiredError="Password is required!" />
                <MudTextField T="string"
                              Label="Password" HelperText="Repeat the password" InputType="InputType.Password" />
                <div class="d-flex align-center justify-space-between">
                    <MudCheckBox T="bool" Required="true" RequiredError="You must agree" Label="I agree!" />
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto">Register</MudButton>
                </div>
            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>


@code {
    //[CascadingParameter] MudDialogInstance MudDialog { get; set; }

    //void Submit() => MudDialog.Close(DialogResult.Ok(true));
    //void Cancel() => MudDialog.Cancel();

    //protected override async Task OnInitializedAsync()
    //{

    //}
    bool success;
    string[] errors = { };
    MudTextField<string> pwField1;
    MudForm form;
}



