@page "/counter"

<PageTitle>Counter</PageTitle>

<h1 @onclick="run">Counter</h1>



@code {
    [Inject]
    private Repo _repo { get; set; }
    private async Task run()
    {
        await _repo.GetItem();
    }
}
