@using QLCF.Repositories;
@inherits LayoutComponentBase
@inject BlazorSchoolAuthenticationStateProvider BlazorSchoolAuthenticationStateProvider



<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <AuthorizeView Roles="admin,staff">
            <Authorized>
                <div class="top-row px-4" style="display:flex">
                    <p style="margin:0 10px 0 0">Tài khoản: @context.User.FindFirst("Name").Value</p>
                    <p style="margin:0 10px 0 0">Chức vụ: @context.User.FindFirst("Role").Value</p>
                    <a @onclick="async()=>await BlazorSchoolAuthenticationStateProvider.Logout()" href="/login">Đăng xuất</a>
                </div>
            </Authorized>
        </AuthorizeView>

        <article class="content px-4">
            @Body
        </article>
    </main>

</div>
@code {
    private BlazorSchoolAuthenticationStateProvider _authService { get; set; }
}

